<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    
    <div class="container">
        <!-- <div class="row">
            <div class="col-sm-3"> -->
              <ul class="pokemon">
              <% for(i=0; i < allPokemon.length; i++) { %>
                 <li>
                    <a href="/pokemon/<%= i %>">
                   <div class = name> <%= allPokemon[i].name %></div>
                    <br>
                    <img src="<%= allPokemon[i].img %>">
                    </a>
                    <!-- posting -->
                     <form method="POST" action="/pokemon/<%= i %>?_method=DELETE">
                    <input type="submit" value="DELETE"/>
                     </form>
                     <a class= "edit" href="/pokemon/<%= i %>/edit">Edit</a>
                 </li>
             <% } %>
             </ul>
            <!-- </div>
        </div>     -->
    </div>   
</body>
</html>